<html>
    <head>
        <title>
            {% block tittle%} {%endblock%}
        </title>
    </head>
    <body>
        <h1 style="background-color: darkgoldenrod; color:azure; text-align: center;">R-Oil</h1>
        <h3 style="background-color: greenyellow; color:azure; text-align: left;">Recoleccion de aceite usado de cocina</h3>

        {%block content%} {%endblock%}

        <p style="background-color: darkgoldenrod; color: black; text-align: right;">Cursos gratuitos, gracias por su visita</p>
	<p> aqui hice un cambio</p>
    </body>
</html>